$primary: #f1cdb3;
$primary-light: #fddcc4;
$light-xl: #fff;
$light-s: #fafafa;
$light-l: #F6F6F6;
$dark-l: #545454;
$dark-xl: #4c4c4c;
$dark-3xl: #292929;
$dark-s: #cdcdcd;
$dark-m: #b2b2b2;
$dark_modal-window: #000;